body
{
    display: flex;
    flex-direction: column;
    align-items : center;
}
button
{
    background-color: rgb(65, 65, 65);
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgb(39, 35, 35);
}
.buttons
{
    display: flex;
    gap:10px;
}
h1
{
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(106, 104, 111);
}
p
{
    font-size: 18px;
}
input
{
    height: 40px;
    width: 300px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgb(63, 63, 63);
}
.input
{
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}
.header
{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: grey;
    width: 100%;
    height: 200px;
}
.below
{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: rgb(137, 136, 136);
    width: 100%;
    padding-bottom: 100%;
}
.red
{
    background-color: rgb(29, 29, 29);
}
.line
{
    display: flex;
    align-items: center;
    gap: 10px;
}
a
{
    color: rgb(215, 215, 215);
}
.mainGrid
{
    display: flex;
    justify-content: center;
    gap: 10px;

    padding-top: 20px;
    width: 100%;
}
.left
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;
    max-width: 400px;
}
.right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;
    max-width: 400px;
}
.projectGrid
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px 2px 5px black;
    color: rgb(9, 0, 0);
    background-color: rgb(203, 201, 201);
}